<h1 class="centered">Dashboard</h1>

<div id="welcome">
  <h2 id="message">Welcome! Please Donate</h2>
  <p>You have made <strong><%= Donation.donationcount %></strong>  donations.</p>  <!--Call class method by 'classname.methodname'-->
</div>
<div id="hover" class="hover">
  <p id="font">The total contribution so far is <strong><%=number_to_currency(Donation.totalamount)%></strong></p>
</div>