<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>

<h2><%= Donation.donationcount %> Donations Contributed</h2>
<table>
<thead>
<tr>
  <th>Date</th>
  <th>Amount</th>
  <th colspan="3"></th>
</tr>
</thead>
<tbody>
<% @donor.donations.each do |donation| %>
    <tr>
      <td><%= donation.date %></td>
      <td><%= donation.amount %></td>
      <td><%= link_to 'Show', donation %></td>
      <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
      <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end %>
    <tr>
      <td></td>
      <td><%= Donation.personaltotal %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

</tbody>
</table>