<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :donor_name %><br>
    <%= f.collection_select :donor_id,Donor.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :donor_email %><br>
    <%= f.collection_select :donor_id,Donor.all, :id, :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
