<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Donor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.date %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.donor.name %></td>
        <td><%= link_to 'Contributions', donor_path(donation.donor_id) %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <tr>
    <td> <% end %></td>
    <td><strong><%= Donation.totalamount %></strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
<%= link_to 'New Donor', new_donor_path %>
<%= link_to 'Summary', dashboard_summary_path %>

