<!DOCTYPE html>
<html>
<head>
  <title>Donation Hackathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="bootstrap/bootstrap.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'template/navbar'%>
<div id="header">

</div>
<%= yield %>
</body>
</html>
